repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        types: [python]
      - id: trailing-whitespace
        types: [python]

  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.1.1
    hooks:
    -   id: seed-isort-config
        exclude: '^(?!simphony/)'

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21 # Use the revision sha / tag you want to point at
    hooks:
      - id: isort
        exclude: '^(?!simphony/)'

  - repo: https://github.com/myint/docformatter
    rev: v1.3.1
    hooks:
      - id: docformatter
        args: [--in-place]

  - repo: https://github.com/psf/black
    rev: ""
    hooks:
      - id: black

  # - repo: https://gitlab.com/pycqa/flake8
  #   rev: 3.8.1
  #   hooks:
  #     - id: flake8

  - repo: https://github.com/kynan/nbstripout
    rev: master
    hooks:
      - id: nbstripout
        files: ".ipynb"
